$color-black: var(--color-others-black);
$color-white: var(--color-others-white);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-primary-normal: var(--color-primary-normal);
$color-secondary-dark: var(--color-secondary-dark);
$color-secondary-light: var(--color-secondary-light);
$color-secondary-normal: var(--color-secondary-normal);